<div class='container'>
  <table class='bordered'>
    <thead>
      <tr>
        <th data-field="id">Day</th>
        <th data-field="name">Times</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Monday</td>
        <td>8-1</td>
      </tr>
      <tr>
        <td>Tueday</td>
        <td>12-5</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>8-1</td>
     </tr>
      <tr>
        <td>Thursday</td>
        <td>12-5</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>8-1</td>
      </tr>
    </tbody>
  </table>
</div>>