<nav>
  <div class="nav-wrapper">
    <ul class="nav-links">
      <li><a href="/" class="logo">Hardware</a></li>
      <li><a href="/products">Inventory</a></li>
      <li><a href="/schedules">Schedule</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>